/* Define CSS Variables */
:root {
    --primary-color: white;
    --secondary-color: #333;
    --accent-color: rgba(0, 0, 0, 0.7);
    --button-bg-hover: white;
    --button-text-hover: black;
    --font-family-primary: Roboto;
    --font-family-secondary: Roboto;
    --font-size-h1: 6rem;
    --font-size-h2: 1.2rem;
    --font-size-p: 1.4rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo h1 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}

/* Button Styling */
.shop-now a {
    text-decoration: none;
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--primary-color);
    font-size: 1rem;
}

.shop-now a:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-text-hover);
    transition: 0.3s;
}

/* Hero Section */
.hero-section {
    background: url('imagenes/fondovino.webp') no-repeat center center/cover;
    height: 100vh; /* Full screen height */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color); /* Darken background */
}

.content {
    position: relative;
    z-index: 1;
    color: var(--primary-color);
}

.content h2 {
    font-size: var(--font-size-h2);
    font-weight: 300;
    margin-bottom: 10px;
}

.content h1 {
    font-size: var(--font-size-h1);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content p {
    font-size: var(--font-size-p);
    max-width: 600px;
    margin: 0 auto;
}
/* Estilos para la sección "Sobre Nosotros" */
.about-section {
    height: 100vh; /* Ocupa toda la pantalla */
    background-color: #f0f0f0; /* Fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.about-content {
    max-width: 800px;
    color: #333;
}

.about-content h2 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 5px 0; 
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
}

/* Info Section Styles */
.info-section {
    padding: 50px 20px;
    background-color: #141111;
}

.info-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-box {
    width: 30%; /* Ajusta el ancho para que se adapten tres columnas */
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Capa oscura sobre las imágenes */
.info-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Capa negra con baja opacidad */
    z-index: 1;
}

.info-box img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    z-index: 0; /* Coloca la imagen debajo de la capa */
}

.info-box:hover img {
    transform: scale(1.1);
}

.info-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--font-family-secondary);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-text h2 {
    font-family: Roboto;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.info-text p {
    font-family: Roboto;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.vineyard-info {
    text-align: center;
    margin-top: 40px;
    font-size: 1.5rem;
    font-family: var(--font-family-primary);
    color: var(--secondary-color);
}

/* Estilos para la sección "Editorial" */
.editorial-section {
    height: 100vh; /* Ocupa toda la pantalla */
    background-color: #f0f0f0; /* Fondo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.editorial-content {
    max-width: 800px;
    color: #333;
}

.editorial-content h2 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
}

.editorial-content h3 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    margin-top: 10px;
}

.editorial-content p {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 5px 0; 
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
}
/* Sección de Contacto */
.contact-section {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.contact-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.contact-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
}

.social-media a:hover {
    color: #d1a1a1;
    transition: color 0.3s;
}
/* Responsive Design */
@media (max-width: 1200px) {
    .content h1 {
        font-size: 4.5rem;
    }
    .info-box {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px 20px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .info-container {
        flex-direction: column;
    }

    .info-box {
        width: 90%;
    }

    .content h1 {
        font-size: 3rem;
    }

    .about-content h2, .editorial-content h2 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 2.5rem;
    }

    .content p, .about-content p, .editorial-content h3 {
        font-size: 1rem;
    }

    .about-content h2, .editorial-content h2 {
        font-size: 1.8rem;
    }
}